Package: sysctrl
Version: 0.0.1-2
Architecture: amd64
Maintainer: root <root@komola-lockdown>
Installed-Size: 71
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
